<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.readysteadyeat">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ready_steasy_eat_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ready_steasy_eat_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="foi.air.rse.Controllers.guest.restaurants.OrderSummaryActivity"></activity>
        <activity android:name="foi.air.rse.Controllers.guest.restaurants.modular.OrderingModulActivity" />
        <activity
            android:name="foi.air.rse.Controllers.guest.restaurants.RestaurantProfileActivity1"
            android:label="@string/title_activity_restaurant_profile1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="foi.air.rse.Controllers.guest.restaurants.modular.RestaurantProfileActivity" />
        <activity android:name="foi.air.rse.Controllers.restaurant.menu.ManuRestaurantEditActivity" />
        <activity android:name="foi.air.rse.Controllers.restaurant.menu.MenuRestaurantAddActivity" />
        <activity android:name="foi.air.rse.Controllers.restaurant.auth.SignUpActivity" />
        <activity
            android:name="foi.air.rse.Controllers.guest.BottomMenuGuestActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="foi.air.rse.Controllers.restaurant.BottomMenuRestaurantActivity" />
        <activity android:name="foi.air.rse.Controllers.guest.auth.SignUpActivity" />
        <activity android:name="foi.air.rse.Controllers.shared.UserTypeActivity" />
        <activity android:name="foi.air.rse.Controllers.shared.StartActivity" />
        <activity android:name="foi.air.rse.Controllers.guest.auth.LogInActivity" />
        <activity android:name="foi.air.rse.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>